<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">

<main class="home__main">
<section class="products section" id="products">
                <h2 class="section__title section__title-gradient products__line">
                    Choose <br> Your Style
                </h2>

                <div class="products__container container grid">
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/I8_wxoWOoxJlc5hGXWbXizxfxUP-iVngDKpsZP2HSrjoj-WTIbDlzfs8IGq5pptdtsu9XMNGGKS-aNnbz4_5XOnZc7TYH9xy4m3BXUAKd5nwrVKu0ExttO3E8KCdkpWR1LnqqgY2cV9CWA3arg6xRHzAqt2As_PtnN-2A3a61gaRbNJP8_sevVw9RUcLDdRuJwb6vXTpB_23YSC3VM7TTm0zsqKzqrLF-9HUfiKtr0jm8AMzmwBdaWFpZ1dTkBu_uo2mTCPunCh66fLx-BEykUaOj7XsBMANxM9qRjKsKjTfRiJbkf_9jzR_Qs7L5mmk7JAW5gqclJVNHcVHu9VWbZsW-7NREpPa5yJkM2kSTEnhY1Rtq6eKwvGRROwm8mbos7R4lkcEeBWc3Cvay-s3SjR-pcmV2CM4rgirWEHlL7KTXnnVvHYxL8KH4Vz5HGYfCLXiSKM-_k8f3dH2XrqytLBuKirx4sNwRnLJJgvNu32R_wao4ZY1SQIxmWiULeIH4Jnd9FaLaF5ViLhODakt8mJ9mTdNKdV4_MvxOyPNUclpTQmAskav_JQtBoq_U9J2viETJkSlIyHCfUmHmf8cDLIMbSLXlQbHeIayN-l1ZLJC8Kc5wQZfLwG_TOpZa4uAr0YESeiEfFdlZIcijK8pU65xDHgnTb9QubXhWtrMXAhpSVJBs3hP8z0yAQ-2_DKZBrTiQ_rJDylm3tYMw0zBkA=s105-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">Black</h3>
                            <span class="products__price">$249</span>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="assets/img/product2.png" alt="" class="products__img">
    
                            <h3 class="products__title">Red Black</h3>
                            <span class="products__price">$249</span>
    
                            <button class="button button--flex products__button">
                                <i class="ri-shopping-bag-line button__icon"></i>
                            </button>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="assets/img/product3.png" alt="" class="products__img">
    
                            <h3 class="products__title">Night Black</h3>
                            <span class="products__price">$249</span>
    
                            <button class="button button--flex products__button">
                                <i class="ri-shopping-bag-line button__icon"></i>
                            </button>
                        </div>
                    </article>
                </div>
            </section>
  </main>

{% schema %}
  {
    "name": "Feature Icon Element",
	"class": "section",
    "settings": [],
	"presets": [
		{ "name":"feature icon element" }
	]
  }
{% endschema %}

