<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">

<main class="home__main">
<section class="products section" id="products">
                <div class="products__container container grid">
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://cdn.shopify.com/s/files/1/0614/6415/0200/files/icon_flag_256x256_crop_center.png?v=1647452492" alt="icon_flag" class="products__img">
    
                            <h3 class="products__title">American Craftsmen</h3>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://cdn.shopify.com/s/files/1/0614/6415/0200/files/cnc_256x256_crop_center.png?v=1647452482" alt="icon_cnc" class="products__img">
    
                            <h3 class="products__title">Precision<br>Detail</h3>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://cdn.shopify.com/s/files/1/0614/6415/0200/files/hand_256x256_crop_center.png?v=1647452465" alt="icon_hammer" class="products__img">
    
                            <h3 class="products__title">Everything built by hand</h3>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://cdn.shopify.com/s/files/1/0614/6415/0200/files/truck_256x256_crop_center.png?v=1647452478" alt="icon_pickup_truck" class="products__img2">
    
                            <h3 class="products__title">Local delivery, we hand deliver</h3>
                        </div>
                    </article>
                </div>
            </section>
  </main>

{% schema %}
  {
    "name": "Feature Icon Element",
	"class": "section",
    "settings": [],
	"presets": [
		{ "name":"feature icon element" }
	]
  }
{% endschema %}

