<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">

<main class="home__main">
<section class="products section" id="products">
                <div class="products__container container grid">
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/I8_wxoWOoxJlc5hGXWbXizxfxUP-iVngDKpsZP2HSrjoj-WTIbDlzfs8IGq5pptdtsu9XMNGGKS-aNnbz4_5XOnZc7TYH9xy4m3BXUAKd5nwrVKu0ExttO3E8KCdkpWR1LnqqgY2cV9CWA3arg6xRHzAqt2As_PtnN-2A3a61gaRbNJP8_sevVw9RUcLDdRuJwb6vXTpB_23YSC3VM7TTm0zsqKzqrLF-9HUfiKtr0jm8AMzmwBdaWFpZ1dTkBu_uo2mTCPunCh66fLx-BEykUaOj7XsBMANxM9qRjKsKjTfRiJbkf_9jzR_Qs7L5mmk7JAW5gqclJVNHcVHu9VWbZsW-7NREpPa5yJkM2kSTEnhY1Rtq6eKwvGRROwm8mbos7R4lkcEeBWc3Cvay-s3SjR-pcmV2CM4rgirWEHlL7KTXnnVvHYxL8KH4Vz5HGYfCLXiSKM-_k8f3dH2XrqytLBuKirx4sNwRnLJJgvNu32R_wao4ZY1SQIxmWiULeIH4Jnd9FaLaF5ViLhODakt8mJ9mTdNKdV4_MvxOyPNUclpTQmAskav_JQtBoq_U9J2viETJkSlIyHCfUmHmf8cDLIMbSLXlQbHeIayN-l1ZLJC8Kc5wQZfLwG_TOpZa4uAr0YESeiEfFdlZIcijK8pU65xDHgnTb9QubXhWtrMXAhpSVJBs3hP8z0yAQ-2_DKZBrTiQ_rJDylm3tYMw0zBkA=s105-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">Black</h3>
                            <span class="products__price">$249</span>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/OUThKNc05KwafKucN5XknwED8ij7QyIP7Q74CLZy0UYVd6SNfrpWiWdVyQhVg0ExWw9P3Drl9wdPwe6Kyf86e9Si7WpWesWTKMOCLpjsO6jxMNmeKN4y0nE0CW0x2h_C1sVULhqnjwNxm1dttr7AU_ns7NW2V8HHLyAIhd1Hjn8Bym1vVGVhqMLJ7eSHHLGj65mfG0xWO-XN7EVE2fqwuYyHs4mcjO1YEobws3ir99EQAzpUzl10lODatjHzziBGKhcKO5_S4Io_Jt8jcO5B_0QOdGSIbM5cf5zAgWO2WCvHXm3HjMsBk90oRxAzOAGbZNEcgDFrzrGpqdoIL1rG6Ki-LSNv2LuH8ZnrEI3t-hRsDH4NaMTWTRDIUOLS4g-Yba70UfullG51oiSHCvBjxvoBpqtqqKmdl1OtNVN6CU7ydvsHJrh_w_SM8CuD9C3x_1MMzO7IrX6ZeBTGCt1UI4PjBlOzu9xIQ9f_lQLYTqsp4__nxn3vdICoM0yOWo06frZ74KUX_IrQsh8LBNE46CVB2MZ3RZ5K_ovTnMmUiizDsvpCYr5gxTb924GRM65ZzXJXVlJWs2lnoCRLEhthEUrNG2Qb2ihOGx7BCSE2hOPsbfYHy-5-JeXPJHujr7w7kyEV6vfRXWsCAk57nPtIXAnhE_mF3qzbFJ1TtzT3eyEROWCbPf1_cCJoMI131yXvRwdUBbNQusO0wgYJL6v3Ow=s105-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">Red Black</h3>
                            <span class="products__price">$249</span>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="assets/img/product3.png" alt="" class="products__img">
    
                            <h3 class="products__title">Night Black</h3>
                            <span class="products__price">$249</span>
                        </div>
                    </article>
                </div>
            </section>
  </main>

{% schema %}
  {
    "name": "Feature Icon Element",
	"class": "section",
    "settings": [],
	"presets": [
		{ "name":"feature icon element" }
	]
  }
{% endschema %}

