<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">

<main class="home__main">
<section class="products section" id="products">
                <div class="products__container container grid">
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/I8_wxoWOoxJlc5hGXWbXizxfxUP-iVngDKpsZP2HSrjoj-WTIbDlzfs8IGq5pptdtsu9XMNGGKS-aNnbz4_5XOnZc7TYH9xy4m3BXUAKd5nwrVKu0ExttO3E8KCdkpWR1LnqqgY2cV9CWA3arg6xRHzAqt2As_PtnN-2A3a61gaRbNJP8_sevVw9RUcLDdRuJwb6vXTpB_23YSC3VM7TTm0zsqKzqrLF-9HUfiKtr0jm8AMzmwBdaWFpZ1dTkBu_uo2mTCPunCh66fLx-BEykUaOj7XsBMANxM9qRjKsKjTfRiJbkf_9jzR_Qs7L5mmk7JAW5gqclJVNHcVHu9VWbZsW-7NREpPa5yJkM2kSTEnhY1Rtq6eKwvGRROwm8mbos7R4lkcEeBWc3Cvay-s3SjR-pcmV2CM4rgirWEHlL7KTXnnVvHYxL8KH4Vz5HGYfCLXiSKM-_k8f3dH2XrqytLBuKirx4sNwRnLJJgvNu32R_wao4ZY1SQIxmWiULeIH4Jnd9FaLaF5ViLhODakt8mJ9mTdNKdV4_MvxOyPNUclpTQmAskav_JQtBoq_U9J2viETJkSlIyHCfUmHmf8cDLIMbSLXlQbHeIayN-l1ZLJC8Kc5wQZfLwG_TOpZa4uAr0YESeiEfFdlZIcijK8pU65xDHgnTb9QubXhWtrMXAhpSVJBs3hP8z0yAQ-2_DKZBrTiQ_rJDylm3tYMw0zBkA=s105-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">American Craftsmen</h3>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/OUThKNc05KwafKucN5XknwED8ij7QyIP7Q74CLZy0UYVd6SNfrpWiWdVyQhVg0ExWw9P3Drl9wdPwe6Kyf86e9Si7WpWesWTKMOCLpjsO6jxMNmeKN4y0nE0CW0x2h_C1sVULhqnjwNxm1dttr7AU_ns7NW2V8HHLyAIhd1Hjn8Bym1vVGVhqMLJ7eSHHLGj65mfG0xWO-XN7EVE2fqwuYyHs4mcjO1YEobws3ir99EQAzpUzl10lODatjHzziBGKhcKO5_S4Io_Jt8jcO5B_0QOdGSIbM5cf5zAgWO2WCvHXm3HjMsBk90oRxAzOAGbZNEcgDFrzrGpqdoIL1rG6Ki-LSNv2LuH8ZnrEI3t-hRsDH4NaMTWTRDIUOLS4g-Yba70UfullG51oiSHCvBjxvoBpqtqqKmdl1OtNVN6CU7ydvsHJrh_w_SM8CuD9C3x_1MMzO7IrX6ZeBTGCt1UI4PjBlOzu9xIQ9f_lQLYTqsp4__nxn3vdICoM0yOWo06frZ74KUX_IrQsh8LBNE46CVB2MZ3RZ5K_ovTnMmUiizDsvpCYr5gxTb924GRM65ZzXJXVlJWs2lnoCRLEhthEUrNG2Qb2ihOGx7BCSE2hOPsbfYHy-5-JeXPJHujr7w7kyEV6vfRXWsCAk57nPtIXAnhE_mF3qzbFJ1TtzT3eyEROWCbPf1_cCJoMI131yXvRwdUBbNQusO0wgYJL6v3Ow=s105-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">Precision<br>Detail</h3>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/Q1qs9iXwo2CBJqRh_7ni-Dy7PKalH7FjyUQSqgvZ0gXxECtSMaDNNjLPn788aZBPdOnGifBzAntO_wJYMK19YpALTJALWg6JM78hXFXpUigHZrwtG_5DZfOX2x0K55q-2zIq6aTdRIHJOhp6cP5HWe5zuMC7aMueq4L2qonNyVEeZ7V7FjIMNlv5F66hA2s5-eTcII8XEBlrpvnV4TKsgqgChGuuWzxrBylKyOe0j67hImkDWiqx_sEtBGMts8kqzJEPCXAZTT8xkoeKPAXnt6cq7zk2csCYTkfWwfrtIsFVnO--1jWoauXo3rQemKIeICFrWP30ocu-ETZlTQTkKMpbc2c-oCD9cXkqQmC83AGmxm1YnPbGzpLrAQsJF42SkY0uk42w8hQR9uYSdJlX-3c9GTHMa_mgBu2Ge5fomAqVj3i7b3SseDqxw9h92DTAI2Xniw1hsIpnsNtjLmLOGAr0M75ZMGnoHa3J6xYr9u7IVMnr0zURny8-AWyhGni6QkZr0Mnh9kuoC-wwgBG_7yTUI2U1KOUkfz8nNAz2t9LzLa15u83PAC2eYMCs-9O1qgUL82heawZtjlg3Xct0rd4WY8X5HH55k7kWHYhbks_fpcdt_HaE1oOyuzomFyHEwZDvg670tLqrqbzqWic3gmk_TTVENdot3Ot9r8RGEf1zhF6rbWhaOK2EXKpFnG9kkmDcLlcrHqSxlyeYMtY3fw=s105-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">Everything built by hand</h3>
                        </div>
                    </article>
                    <article class="products__card">
                        <div class="products__content">
                            <img src="https://lh3.googleusercontent.com/szqoB5y1_2m9qkLaBT2w0SdGDY-iFOBmc4ulpq8SMj2GVt7S_UH28jnawoBSdQej2DpsBtBTJOgzDNPJywIBZuN3M_tVj_P6AdytGRiofOpAantEqngbG5SPHE_C67RvppAJT3Q4ASLadhg0N486aI8Bz4uA8pdr42PUEBC6r_lMwpDOhOusJrU5UMWQEoq1S0w9BHHlmLMPCY6gRSEJ3ynfucueO_jAznVIosdQk_89qAzJqpOx4KZcMVuqORv0-lMw-EdgYt2As8mm8ibX9SZK51fC1luaQnU-9A_cF_yrgv4oumg4k1Hnsv7bOZoK7cl5reghoQ-SGZ8jWXWiDh-X_XwGlKhHDELOP4aAny8GRv5BbYhY6pdTofIbqGX50e0VPkh8tVqrdadM3D9JsKRrst6KGpxaX4oEcRh91NFRgfLI4zxw_l1DVUC-RiGx3wkEy4g7EJzv1diA0U92GT8jA-pLsoVpXYZsy6kT_LmUKISNWnqei3_N9kmBu7PNtlREZWgmxY4SOV76E4UEbikA80GGBxfA1DjKZHBLPo2sVo59sNoiD0JhRDc_4WIMx9l7bS2OTKRUU7uHVtRz-j36CplKMjbXt9sAugdxCLtInAkOTi5mHe2ZcXdQTd8xt9Dcoop9S9mqJ0VxZL4XtJBfoW_A-RgUUYp6okv_a5eWifhvuNRYNV2qdujVvzv_wsqpOY49-xcYSVZhpO8Ijw=s305-no?authuser=1" alt="" class="products__img">
    
                            <h3 class="products__title">Local delivery, we hand deliver</h3>
                        </div>
                    </article>
                </div>
            </section>
  </main>

{% schema %}
  {
    "name": "Feature Icon Element",
	"class": "section",
    "settings": [],
	"presets": [
		{ "name":"feature icon element" }
	]
  }
{% endschema %}

