<link rel="stylesheet" href="{{ 'main.css' | asset_url }}" media="print" onload="this.media='all'">

<main class="home__main">
<section class="home section" id="home">
                <div class="home__container container grid">
                  <div class="discount__animate">  
                  	<div class="home__vo">
                        <img src="https://cdn.shopify.com/s/files/1/0614/6415/0200/files/vo.png" alt="" class="home__img">
                    </div>
                    
                    <div class="home__data">
                        <div class="home__header">
                            <h1 class="home__title">Welcome</h1>
                            <h2 class="home__subtitle">to Rabunwood</h2>
                        </div>

                        <div class="home__footer">              
                            <p class="home__description">We are a veteran-owned small woodworking and design company,
     We develop all our products with the same mission focus we learned as military members serving this great country
     and are committed to supporting veterans,
     law enforcement, and first responders. All our products are Hand-made which means that no two products are alike.
                            </p>                           
                        </div>
                      </div>
                    </div>
                </div>
</section>
</main>

{% schema %}
  {
    "name": "Hero Section",
	"class": "spaced-section",
    "settings": [],
	"presets": [
		{ "name":"hero" }
	]
  }
{% endschema %}
